<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
  crossorigin="anonymous"
/>

<div class="container">
  <div class="containerForm">
    <div class="CreateAccount">Create Account</div>
    <form (ngSubmit)="onSubmit()" class="form">
      <div class="form-row">
        <div class="form-field">
          <label for="firstName" class="label">First Name</label>
          <input
            type="text"
            id="firstName"
            class="FirstNameInput"
            name="firstName"
            [(ngModel)]="formData.firstName"
            required
          />
        </div>
        <div class="form-field">
          <label for="lastName" class="label">Last Name</label>
          <input
            type="text"
            id="lastName"
            class="LastNameInput"
            name="lastName"
            [(ngModel)]="formData.lastName"
            required
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-field-email">
          <label for="email" class="label">Email</label>
          <input
            type="email"
            id="email"
            class="EmailInput"
            name="email"
            [(ngModel)]="formData.email"
            required
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-field">
          <label for="password" class="label">Password</label>
          <input
            type="password"
            id="password"
            class="PasswordInput"
            name="password"
            [(ngModel)]="formData.password"
            required
          />
        </div>
        <div class="form-field">
          <label for="confirmPassword" class="label">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            class="ConfirmPasswordInput"
            name="confirmPassword"
            required
          />
        </div>
      </div>

      <div class="form-field">
        <label for="type" class="label">User Type</label>
        <input
          type="text"
          id="type"
          class="TypeInput"
          name="type"
          [(ngModel)]="formData.role"
          required
        />
      </div>

      <button class="CreateAccountButton" type="submit">
        <span class="SignUp">Sign Up</span>
      </button>
    </form>
  </div>
  <div class="containerImg">
    <img src="../../assets/img/talan.png" alt="Talan" />
  </div>
</div>
