<!-- Add the FontAwesome icon library -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
  crossorigin="anonymous"
/>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">List of candidates</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Last name</th>
                  <th>First name</th>
                  <th>Email</th>
                  <th>Phone number</th>
                  <th>Start date</th>
                  <th>End date</th>
                  <th>Team</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let candidate of candidates">
                    <td>{{ candidate.nom }}</td>
                    <td>{{ candidate.prenom }}</td>
                    <td>{{ candidate.email }}</td>
                    <td>{{ candidate.numtel }}</td>
                    <td>{{ candidate.datedebut | date : "yyyy-MM-dd" }}</td>
                    <td>{{ candidate.datefin | date : "yyyy-MM-dd" }}</td>
                    <td>
                      <ng-container
                        *ngIf="
                          candidate.team && candidate.team.nom;
                          else noTeam
                        "
                      >
                        {{ candidate.team.nom }}
                      </ng-container>
                      <ng-template #noTeam> No Team </ng-template>
                    </td>
                    <td>
                      <!-- Icônes d'action pour la première ligne -->
                      <i
                        class="fa fa-trash delete-icon"
                        style="
                          font-size: 24px;
                          color: red;
                          cursor: pointer;
                          margin-right: 10px;
                        "
                        (click)="deleteCandidate(candidate.id)"
                      >
                      </i>
                      <i
                        class="fa fa-edit edit-icon"
                        style="font-size: 24px; color: red; cursor: pointer"
                        (click)="showEditForm(candidate)"
                      ></i>
                    </td>
                  </tr>
                  <tr *ngIf="candidates.length === 0">
                    <td colspan="6">no records found</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <button class="floating-button" (click)="showAddForm()">
              <i class="fas fa-user-plus"></i>
            </button>

            <!-- Edit Form -->
            <div class="edit-form" *ngIf="showEditFormRow">
              <form [formGroup]="editForm" (submit)="onSubmit(true)">
                <div class="form-row">
                  <div class="form-group">
                    <label>Last Name:</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="nom"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>First Name:</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="prenom"
                      required
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <label>Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="email"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Phone number:</label>
                    <input
                      type="tel"
                      class="form-control"
                      formControlName="numtel"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Start date:</label>
                    <input
                      type="date"
                      class="form-control"
                      formControlName="datedebut"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>End date:</label>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="datefin"
                    required
                  />
                </div>
                <!-- Team selection dropdown -->
                <div class="form-group">
                  <label>Team:</label>
                  <select class="form-control" formControlName="team_id">
                    <option value="" disabled>Select a team</option>
                    <option *ngFor="let team of teams" [value]="team.id">
                      {{ team.nom }}
                    </option>
                  </select>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="cancelEdit()"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>

            <!-- Add Form -->
            <div *ngIf="showAddCandidateForm" class="col-md-8 mx-auto">
              <div class="card">
                <div class="card-body" style="background-color: #f9f9f9">
                  <form (ngSubmit)="onSubmit(false)">
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Fist Name"
                            type="text"
                            [(ngModel)]="formData.firstName"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Last Name"
                            type="text"
                            [(ngModel)]="formData.lastName"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Email address"
                            type="email"
                            [(ngModel)]="formData.email"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="phone number"
                            type="tel"
                            [(ngModel)]="formData.numtel"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="start date"
                            type="date"
                            [(ngModel)]="formData.datedebut"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="end date"
                            type="date"
                            [(ngModel)]="formData.datefin"
                          />
                        </mat-form-field>
                      </div>
                      <!-- <div class="form-group">
                        <label for="teamId">Team:</label>
                        <select
                          id="teamId"
                          name="teamId"
                          class="form-control"
                          [(ngModel)]="formData.teamId"
                        >
                          <option
                            *ngFor="let team of teamOptions"
                            [value]="team.id"
                          >
                            {{ team.nom }}
                          </option>
                        </select>
                      </div> -->
                      <div class="form-group">
                        <label for="teamId">Team:</label>
                        <select
                          id="teamId"
                          name="teamId"
                          class="form-control"
                          [(ngModel)]="formData.team_id"
                        >
                          <option value="">No Team</option>
                          <option
                            *ngFor="let team of teamOptions"
                            [value]="team.id"
                          >
                            {{ team.nom }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <button
                      mat-raised-button
                      type="submit"
                      class="btn pull-right"
                      style="background-color: #b127b0"
                    >
                      Add Candidate
                    </button>
                    <button
                      mat-raised-button
                      type="button"
                      class="btn pull-right"
                      style="background-color: #6c757d; color: #fff"
                      (click)="cancelAddForm()"
                    >
                      Cancel
                    </button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
