<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!-- Card header -->
          <div class="card-header card-header-danger">
            <h4 class="card-title">List of subjects</h4>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Table -->
            <!-- Display loading indicator -->
            <div *ngIf="loading" class="text-center mt-3 text-danger-emphasis">
              <i class="fas fa-spinner fa-spin fa-3x"></i>
              <p>Loading...</p>
            </div>
            <!-- Display table -->
            <div *ngIf="!loading">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <th>Name</th>
                    <th>Skills</th>
                    <th>Years</th>
                    <th>Supervisor</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subject of subjects">
                      <td>{{ subject.libelle }}</td>
                      <td>{{ subject.competences }}</td>
                      <td>
                        <ng-container
                          *ngIf="
                            subject.schoolYear && subject.schoolYear.annee;
                            else noSchoolYear
                          "
                        >
                          {{ subject.schoolYear.annee }}
                        </ng-container>
                        <ng-template #noSchoolYear>No School Year</ng-template>
                      </td>
                      <td>
                        <ng-container
                          *ngIf="subject.user && subject.user.nom; else noUser"
                        >
                          {{ subject.user.nom }} {{ subject.user.prenom }}
                        </ng-container>
                        <ng-template #noUser>No user</ng-template>
                      </td>
                      <td>
                        <!-- Icônes d'action pour la première ligne -->
                        <i
                          class="fa fa-trash delete-icon"
                          style="
                            font-size: 24px;
                            color: red;
                            cursor: pointer;
                            margin-right: 10px;
                          "
                          (click)="deleteSubject(subject.id)"
                        >
                        </i>
                        <i
                          class="fa fa-edit edit-icon"
                          style="font-size: 24px; color: red; cursor: pointer"
                          (click)="showEditForm(subject)"
                        ></i>
                      </td>
                    </tr>
                    <tr *ngIf="subjects.length === 0">
                      <td colspan="6">no records found</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Floating button -->
            <button class="floating-button" (click)="openModal(false)">
              <i class="fas fa-user-plus"></i>
            </button>

            <!-- Edit Form -->
            <ng-template #editFormTitle>
              <span>Edit Subject</span>
            </ng-template>

            <ng-template #editFormTemplate>
              <form [formGroup]="editForm" *ngIf="showEditFormRow">
                <div class="form-row">
                  <div class="form-group">
                    <label>Name:</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="libelle"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Skills:</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="competences"
                      required
                    />
                  </div>
                </div>
                <!-- Team selection dropdown -->
                <div class="form-group">
                  <label>School Year:</label>
                  <select class="form-select" formControlName="schoolyear_id">
                    <option value="">No School Year</option>
                    <option
                      *ngFor="let schoolyear of schoolyears"
                      [value]="schoolyear.id"
                    >
                      {{ schoolyear.annee }}
                    </option>
                  </select>
                </div>
                <!-- User selection dropdown -->
                <div class="form-group">
                  <label>Supervisor:</label>
                  <select class="form-select" formControlName="user_id">
                    <option value="">No Supervisor</option>
                    <option *ngFor="let user of userOptions" [value]="user.id">
                      {{ user.nom }} {{ user.prenom }}
                    </option>
                  </select>
                </div>
              </form>
            </ng-template>

            <ng-template #editFormSaveButton>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-primary"
                (click)="onSubmit(true)"
              >
                Edit Subject
              </button>
            </ng-template>

            <!-- Add Form -->
            <ng-template #addFormTitle>
              <span>Add Subject</span>
            </ng-template>

            <ng-template #addFormTemplate>
              <form>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        placeholder="Name"
                        type="text"
                        [(ngModel)]="formData.libelle"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        placeholder="Skills"
                        type="text"
                        [(ngModel)]="formData.competences"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label for="schoolyearId">School Year:</label>
                    <select
                      id="schoolyearId"
                      name="schoolyearId"
                      class="form-control"
                      [(ngModel)]="formData.schoolyear_id"
                    >
                      <option value="">No School Year</option>
                      <option
                        *ngFor="let schoolyear of schoolyearOptions"
                        [value]="schoolyear.id"
                      >
                        {{ schoolyear.annee }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="userId">Supervisor:</label>
                    <select
                      id="userId"
                      name="userId"
                      class="form-control"
                      [(ngModel)]="formData.user_id"
                    >
                      <option value="">No Supervisor</option>
                      <option
                        *ngFor="let user of userOptions"
                        [value]="user.id"
                      >
                        {{ user.nom }} {{ user.prenom }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="clearfix"></div>
              </form>
              <!-- Error message -->
              <div *ngIf="errorMessage" class="text-danger">
                <span *ngFor="let errorMessage of errorMessage">
                  {{ errorMessage }}
                  <br />
                </span>
              </div>
            </ng-template>

            <ng-template #addFormSaveButton>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-primary"
                (click)="onSubmit(false)"
              >
                Add Subject
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
