<!-- Modal Header -->
<div class="modal-header">
  <!-- Modal Title -->
  <h4 class="modal-title">
    <ng-container *ngIf="title">
      <ng-container *ngTemplateOutlet="title"></ng-container>
    </ng-container>
  </h4>
  <!-- Button Close -->
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Modal Body -->
<div class="modal-body">
  <ng-container *ngIf="content">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </ng-container>
</div>

<!-- Modal Footer -->
<div class="modal-footer">
  <!-- Button Close -->
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.dismiss()"
  >
    Close
  </button>
  <!-- Button Save -->
  <ng-container *ngIf="saveButton">
    <ng-container *ngTemplateOutlet="saveButton"></ng-container>
  </ng-container>
</div>
