<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">List of user</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Last name</th>
                  <th>First name</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Role</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                      <!-- Icônes d'action pour la première ligne -->
                      <a
                        [routerLink]="[]"
                        class="btn"
                        (click)="deleteUser(user.id)"
                      >
                        <i
                          class="fa fa-trash delete-icon"
                          style="
                            font-size: 24px;
                            color: red;
                            cursor: pointer;
                            margin-right: 10px;
                          "
                        >
                        </i>
                      </a>
                      <!--a [routerLink]="['/annee', annee.id, 'edit']" class="btn">edit</a-->
                      <i
                        class="fa fa-edit edit-icon"
                        style="font-size: 24px; color: red; cursor: pointer"
                        (click)="showEditForm(user)"
                      ></i>
                    </td>
                  </tr>
                  <tr *ngIf="users.length === 0">
                    <td colspan="6">no records found</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Edit Form -->
            <div class="edit-form" *ngIf="showEditFormRow">
              <form [formGroup]="editForm" (submit)="onSubmit()">
                <div class="form-row">
                  <div class="form-group">
                    <label>Last Name:</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="nom"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>First Name:</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="prenom"
                      required
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <label>Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="email"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Password:</label>
                    <input
                      type="password"
                      class="form-control"
                      formControlName="password"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>Role:</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="role"
                    required
                  />
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="cancelEdit()"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
    
    [(ngModel)]="editUser.nom"
    [(ngModel)]="editUser.prenom"
    [(ngModel)]="editUser.email"
    [(ngModel)]="editUser.password"
    [(ngModel)]="editUser.role"
-->
