<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">User Profile</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Fist Name"
                      type="text"
                      disabled
                      [(ngModel)]="formData.firstName"
                    />
                    {{ userDetails.prenom }}
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Last Name"
                      type="text"
                      disabled
                      [(ngModel)]="formData.lastName"
                    />
                    {{ userDetails.nom }}
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Email address"
                      type="email"
                      disabled
                      [(ngModel)]="formData.email"
                    />
                    {{ userDetails.email }}
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Role"
                      type="text"
                      disabled
                      [(ngModel)]="formData.roles"
                    />
                    {{ userDetails.roles }}
                  </mat-form-field>
                </div>
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Save
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{ userDetails.roles }}</h6>
            <h4 class="card-title">{{ userDetails.prenom}} {{ userDetails.nom }}</h4>
            <p class="card-description">
              {{ userDetails.email }}
            </p>
            <a href="javascript:void(0)" class="btn btn-danger btn-round"
              >Edit</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
